* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --dark: #260339;
  --dark1: #3d1255;
  --black: #000;
  --white: #fff;
  --bgWhite: #fff;
  --orange: #dab512;
  --lightpurple: #b49ac2;
  --lightLightpurple: #dbcde3;
  --lightDeepPurple: #9e82ae;
}

.dark-mode {
  --dark: #09000c;
  --dark1: #8751a6;
  --black: #fff;
  --white: #b49ac2;
  --bgWhite: #09000c;
  --orange: #f6df7a;
  --lightpurple: #141414;
  --lightLightpurple: #141414;
  --lightDeepPurple: #09000c;
}

body {
  background-color: var(--bgWhite);
}

.header {
  padding: 1rem 2rem;
  margin: 0 auto 1rem auto;
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.trophy {
  display: flex;
}

.trophy .iconify {
  margin-right: 20px;
}

.header button {
  background-color: var(--dark);
  outline: none;
  border: none;
}

.header button:focus {
  outline: auto;
}

.theme-icon {
  color: var(--white);
  font-size: 20px;
}

#content {
  padding: 0 2rem;
  display: flex;
}

@media screen and (max-width: 750px) {
  #content {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
  }

  .score-section {
    order: 2;
    margin-top: 40px;
  }
}

.btn {
  padding: 0.2rem;
  position: relative;
  border: none;
  background-color: var(--orange);
}

.btn:hover {
  cursor: pointer;
}

.btn::after {
  content: "";
  position: absolute;
  background-color: rgb(119, 119, 119);
  height: 100%;
  width: 100%;
  padding: 0.1rem;
  z-index: -1;
  top: 0.04rem;
  left: 0.03rem;
}

.add-message,
.empty-message {
  color: rgb(0, 0, 0);
  padding: 0.31rem 1rem;
  position: absolute;
  top: -2px;
  left: 140px;
}

.add-message {
  background-color: greenyellow;
}

.empty-message {
  background-color: rgb(255, 89, 47);
  color: aliceblue;
}
