* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --dark: #260339;
  --dark1: #3d1255;
  --white: #ecf4fa;
  --orange: #aaaa39;
  --lightpurple: #ae96bb;
  --lightLightpurple: #dbcde3;
  --lightDeepPurple: #764b8e;
}

.dark-mode {
  --dark: #030004;
  --dark1: #3d1255;
  --white: #ecf4fa;
  --orange: #aaaa39;
  --lightpurple: #ae96bb;
  --lightLightpurple: #dbcde3;
  --lightDeepPurple: #764b8e;
}

.header {
  padding: 1rem 2rem;
  margin: 0 auto 1rem auto;
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.header button {
  background-color: var(--dark);
  outline: none;
  border: none;
}

.header button:focus { 
  outline: auto;  
}

.theme-icon {
  color: var(--white);
  font-size: 20px;
}

#content {
  padding: 0 2rem;
  display: flex;
}

.btn {
  padding: 0.2rem;
  position: relative;
  border: 1.5px solid black;
  background-color: var(--orange);
}

.btn::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 0.1rem;
  z-index: -1;
  top: 0.1rem;
  left: 0.1rem;
}

.add-message,
.empty-message {
  color: rgb(0, 0, 0);
  padding: 0.31rem 1rem;
  position: absolute;
  top: -2px;
  left: 140px;
}

.add-message {
  background-color: greenyellow;
}

.empty-message {
  background-color: rgb(255, 89, 47);
  color: aliceblue;
}
